/*CSS LOGIN*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 
body{
    background: lavender;
    background-image: url("img/utama.jpg");
    background-size: 100%;
}
 
div.konten{
	box-shadow: 2px 2px 20px dimgrey;
    background: white;
    width: 350px;
    margin: 222px auto 0;
    border-radius: 16px;
    min-height: 256px;
    overflow: hidden;
}
 
div.kepala{
    background: tan;
    padding: 10px 22px;
    height: 60px;
}
 
div.kepala h2.judul{
    color: white;
    font-weight: normal;
    line-height: 40px;
    display: inline-block;
    font-size: 38px;
}
 
div.lock{
    background-image: url("img/lock.png");
    background-position: center;
    background-size: 35px;
    display: inline-block;
    width: 28px;
    height: 35px;
    margin-top: 0px;
    float: left;
    margin-right: 10px;
}
 
div.artikel{
    padding:10px 22px 0;
    color: gray;
}
 
div.artikel div.grup{
    margin: 16px 0;
}
 
div.artikel div.grup label,
div.artikel div.grup input{
    display: block;
}
 
div.artikel div.grup label{
    font-size: 13px;
    margin-bottom: 10px;
}
 
div.artikel div.grup input[type="text"],
div.artikel div.grup input[type="password"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: lemonchiffon;
    border: none;
    color: black;
    font-size: 11pt;
}
 
div.artikel div.grup input[type="submit"]{
    background: mediumseagreen;
    padding: 6px 20px;
    margin: 0 auto;
    border: 1px solid #33cd77;
    border-radius: 3px;
    color: white;
    font-size: 14pt;
    cursor: pointer;
}
 
div.artikel div.grup input[type="submit"]:hover{
    background: #28a45e;
}



}